body{
    background-color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
}
.pointer{
    cursor: pointer;
}

/* navbar */
.nav-bar{
    position: absolute;
    top: 0;
    width: 22%;
    height: 100%;
    z-index: 22;
    position: fixed;
}
.nav1{
    width: 80%;
    background-color: #0d0d0d;
}
.nav2{
    width: 20%;
}
.nav-bar ul li{
    position: relative;
    top: 300px;
}
.shadow{
    background-color: #fff ;
    color: #080808;
    transition:all 0.1s;
}
.shadow:hover{
    color: #fff;
    background-color: #fbc911;
}
.height{
    height: 300px;
}

/* home */
.meal-layer {
    background-color: #f9f6f6ca;
    position: absolute;
    top: 700px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
.meal:hover .meal-layer{
top: 0;
}
.meal-layer h3{
    font-size: 28px;
    font-weight: 500;
}

/* details */
.meal-ing{
    color: #055160;
    background-color: #cff4fc;
}
.meal-tag{
    color: #842029;
    background-color: #f8d7da;
}

/* search */
.in::placeholder{
    color: #6c757d;
}
 
/* Categories */
.categories-layer{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    color: #fff;
}
.meal-categ{
    background-color: rgba(255, 255, 255);
}
.meal-categ:hover .categories-layer{
    top: 0;
}
/* contact */
.btn:focus{
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    box-shadow: var(--bs-btn-focus-box-shadow);
}

/* loading */
#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: #080808;
    ;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 998px){
.height{
    height: 350px;
}
}
@media (max-width: 575px){
    .height{
        height: auto;
    }
    }